<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/MACHII-Kaisei/plain/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>FvGGhK9xugm5idTp5xteOzoh8ZwOl7Er0p+O9LuxhhQ=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>app.plain.Plain.url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>plain</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
